.enx-window {
    height: 200px;
    width: 500px;
    position: absolute;
    border: #ebebeb solid 1px;
    background-color: #fff;
        box-shadow: 0px 0px 20px #ddd;
    z-index: 9999;
    display: none;
}

.enx-ecp{
    font-size: 13px;
    margin: 0;
}